<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title><%= subject%></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- CSS Reset : BEGIN -->
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.2em solid #6e398d;
        }
        #activationLink {
            background-color: #03a9f4;
            border-radius: 5%;
            color: #ffffff;
            padding: 1em;
            text-decoration: none;
        }
        h2 {
            text-align: center;
        }
    </style>
    <%- include('./submail-part/mail-header')-%>
</head>

<body width="100%" style="margin: 0;">
<h2>⚠️Attention <% if (name) { %><%= name %><%}%> ! Ce mail est envoyé car une demande de réinitialisation de mot de passe est demandée.</h2>

<p>Pour réinitialiser votre mot de passe, vous avez 24h pour cliquer ci-dessous :</p>
<a id="activationLink" href="<%= resetLink %>">Réinitialiser mon mot de passe</a>

<p>Sinon vous pouvez aussi rentrer le code suivant dans l'application:</p>
<% if (code) { %>
<h2><%= code %></h2>
<% } %>


<p>Si vous n'êtes pas à l'origine de cette demande vous pouvez ignorer ce mail</p>

</body>

<footer>
    <%- include('./submail-part/mail-footer')-%>
</footer>
</html>