<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title><%= subject%></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- CSS Reset : BEGIN -->
    <style>
        body {
            border: 0.2em solid #6e398d;
        }
        #activationLink {
            background-color: #03a9f4;
            border-radius: 5%;
            color: #ffffff;
            padding: 1em;
            text-decoration: none;
        }
        h2 {
            text-align: center;
        }
        .main-div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <%- include('./submail-part/mail-header')-%>
</head>

<body width="100%" style="margin: 0;">
<div class="main-div">
    <h2>🙌 Bienvenue dans la communauté BeInvestor <% if (name) { %><%= name %><%}%> !</h2>
    <div>
        <p>Pour activer votre compte et profiter pleinement de l'application, vous pouvez cliquer ci-dessous :</p>
    </div>
    <div>
        <a id="activationLink" href="<%= activationLink %>">Activer mon compte</a>
    </div>
    <div>
        <p>Si le button ci-dessus ne fonctionne pas vous pouvez rentrer le code suivant dans l'application  :</p>
    </div>
    <div>
        <% if (code) { %>
        <h2><%= code %></h2>
        <% } %>
    </div>

</div>
</body>
<footer>
    <%- include('./submail-part/mail-footer')-%>
</footer>
</html>